<ion-header>
  <ion-toolbar>
    <ion-title >Estadisticas {{user?.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ng-container *ngIf="infoSemana && infoSemana.detalles">
  <ion-card *ngFor="let dia of infoSemana.detalles">
    <ion-card-header>
      Consumo de Calorías {{dia.fecha}}
    </ion-card-header>
    <ion-card-content>
      <ion-progress-bar [value]="dia.consumoDia / caloriasRecomendadas" style="height: 2em; border-radius: 8px"></ion-progress-bar>
      <ion-chip style="font-weight: bold;" *ngIf="dia.consumoDia <= caloriasRecomendadas">Calorias consumidas {{dia.consumoDia}} kcal, restantes {{caloriasRecomendadas - dia.consumoDia}} kcal</ion-chip>
      <ion-chip style="font-weight: bold;background-color:yellow" *ngIf="dia.consumoDia > caloriasRecomendadas">Calorias consumidas {{dia.consumoDia}} kcal, haz consumido de más {{(caloriasRecomendadas - dia.consumoDia)*(-1)}} kcal <ion-icon name="alert-circle-outline"></ion-icon></ion-chip>
    </ion-card-content>
  </ion-card>
</ng-container>
</ion-content>
