.btnInicio{
    margin-top: 50px;
    --background: #35BAA1;
}

.title{
    font-family: 'Passion One', sans-serif;
    color: #35BAA1;
    font-size: 75px;
    display: flex;
    justify-content: center;
}

.registrarme{
   color: #35BAA1;
}

.registrarmeHref{
    color: #35BAA1 !important;
    font-weight: 600;
}